<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="IncludeDatabase" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=quanlysieuthi_coopmartminishopp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Bangtrongsql" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=quanlysieuthi_coopmartminishoppp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Hienthidulieu" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=quanlysieuthi_coopmart_mini;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="getDATA" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=quanlysieuthi_coopmart_mini;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="getDATA1" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=quanlysieuthi_coopmart_mini;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="sieuthicoopmartdream" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=quanlysieuthi_coopmart_mini;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="SudungDatabase" connectionString="data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=manager_market_smart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="manager_market_smartEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LRQ8VCB\SQLEXPRESS;initial catalog=manager_market_smart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="quanlicoopmart_nam3_24_10_2021.Properties.Settings.manager_market_smartConnectionString"
      connectionString="Data Source=DESKTOP-LRQ8VCB\SQLEXPRESS;Initial Catalog=manager_market_smart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>